# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
git rm --cached dist.zip
git rm --cached "dist (2).zip"

# Editor directories and files
.vscode/*
images/*
icons/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
\n+# Ignore generated asset images and icons in src
/src/assets/icons/
/src/assets/images/
/src/assets/SKYVIEW-IMAGES/
